@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--source-serif-font), Georgia, serif;
}

/* Elements marked with serif class or font-serif will use Source Serif */
.font-serif,
.serif {
  font-family: ui-serif, var(--font-pt-serif), var(--font-noto-serif), Georgia,
    serif;
}

/* Elements marked with sans or font-sans will use Geist */
.font-sans,
.sans {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
.markdown-content ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.markdown-content li {
  margin-bottom: 0.25rem;
}

.markdown-content p {
  margin-bottom: 0.75rem;
}